<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianyu.myblogbackend.mapper.UserMapper">
    <insert id="insert" parameterType="com.xianyu.myblogbackend.model.entity.User">
        insert into users(username,password,status,email,login_time,role)
            values (#{userName},#{password},#{status},#{email},#{loginTime},#{role})
    </insert>
</mapper>
